<div class="run-output-container" style="background-color: #234;">
  <div class="run-output overflow-scroll" style="color: #EEE; padding: 10px">
    <pre>
      <%= @run_output %>
    </pre>
  </div>
</div>
